.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;

  text-transform: capitalize;
  color: var(--prim-color-dark);
  background-color: var(--light-bg);
  margin: 1rem;
  padding: 1rem;
  height: 15rem;
  width: 23rem;

  box-shadow: var(--box-shadow);
  overflow: hidden;
  position: relative;
}

.pokemon-details {
  /* width: 100%; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
  z-index: 1;
}

.pokemon-id {
  display: flex;
  flex-direction: column;
}

.image-container {
  /* width: 100%; */
}

.types-list {
  /* display: flex; */
}

.type-chip {
  border: solid 1px var(--prim-color-dark);
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.card-image {
  top: -10%;
  left: 10%;
  position: absolute;
  width: 21rem;
}
/* 
.id-2-image-fix {
  left: -6rem;
}

.id-4-image-fix {
  top: 3rem;
  right: 1rem;
}

.id-9-image-fix {
  left: -3rem;
} */
